/*************************
useradmin.css

******************************/

body{
	margin-left:0em;
	margin-top:1em;
}

.topbanner{

	margin-left:0px;
	margin-right:0px;
	margin-top:5px;
	margin-bottom:5px;

}