body {
	font-family: arial, helvetica, serif;
}

#nav, #nav ul { /* all lists */
	padding: 0;
	margin: 0;
	list-style: none;
	line-height: 1;
}

#nav li { /* all list items */
    position : relative;
	float : left;
	line-height : 1.25em;
	margin-bottom : -1px;
	margin-right : -1px;
	width: 11em; /* width needed or else Opera goes nuts */
    background: white;
    border: 1px solid black;
}

#nav li ul { /* second-level lists */
	position : absolute;
	left: -999em;
}

#nav li ul ul { /* third-and-above-level lists */
	left: -999em;
	margin-left : 11.05em;
	margin-top : -1.35em;
}

#nav li a, span.nolink {
	width: 11em;
	w\idth : 10em; /* not a typo, browser hack */
	display : block;
	color : black;
	font-weight : bold;
	text-decoration : none;
	background-color : white;
	border : 1px solid black;
	padding : 0 0.5em;
}

#nav li a:hover {
	color : white;
	background-color : black;
}

#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li.sfhover ul ul, #nav li.sfhover ul ul ul {
	left: -999em;
}

#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li.sfhover ul, #nav li li.sfhover ul, #nav li li li.sfhover ul { /* lists nested under hovered list items */
	left: auto;
}

